<p>summa works!</p>

<div class="container">
 <!-- <input type="text" class="form-control" [(ngModel)]="input_text"> -->
 <!-- <label>FontSize (px): <input [(ngModel)]="input_text"></label> -->
    <span>Name : {{input_text}}</span>
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel voluptatem quisquam facilis deleniti delectus cum doloribus quasi, ipsum accusamus maiores et quod tempore veniam non possimus alias nam placeat voluptate!
        Voluptatum doloremque alias sequi culpa incidunt facilis, ab animi accusantium ipsa non ex error similique tempora ducimus exercitationem corrupti illo architecto sapiente consectetur in deserunt excepturi itaque explicabo distinctio? Blanditiis?
        Asperiores natus, voluptatem possimus, ut architecto in beatae ex explicabo qui, veniam rerum recusandae aliquam sed quae dolorum omnis! Quidem earum deleniti accusantium neque quam voluptas tenetur illo odio fuga!
        Quod, temporibus eligendi vero veniam accusantium doloremque eveniet ab. Iusto eligendi praesentium minus ullam sit similique, hic vero possimus perspiciatis distinctio rerum laudantium reprehenderit dolor exercitationem maxime aspernatur porro excepturi?
        Ducimus, ipsam omnis totam in optio inventore facilis voluptas rem saepe ut delectus eius iusto. Dicta fugiat culpa nihil officiis, repudiandae maiores, blanditiis eveniet odit iure, iste eligendi molestias aliquid.
        Saepe deleniti nihil, fuga sint ratione, natus maxime a optio quibusdam laborum, reiciendis ipsam id enim modi incidunt dolores! Error nam reprehenderit sapiente, tenetur natus sequi cumque reiciendis corporis beatae.
        Commodi aliquid sapiente at. Quo, voluptatum ipsa. Eos mollitia recusandae libero ipsa a quasi exercitationem quae similique? Consequatur a architecto aspernatur fugit omnis optio exercitationem commodi iste, recusandae nesciunt laboriosam!
        Mollitia corporis quod eveniet dignissimos dicta quam nihil illo optio commodi, veritatis sed quae non exercitationem odit, recusandae blanditiis maiores et cupiditate eum maxime odio nulla doloremque! Suscipit, ad rerum.
        Libero rem dolorum quos nam, qui accusantium laboriosam cupiditate ea, illum beatae quia quam eaque? Numquam placeat obcaecati iste, molestiae quae nulla facilis perferendis. Ex officiis facere laboriosam nisi non?
        Odio quaerat, cumque maiores numquam sequi ipsum quisquam dolore ea necessitatibus. Sed, vitae nisi maiores numquam quae optio harum rerum et! Eligendi, laborum! Voluptatibus illo officiis nulla maiores accusantium velit!
    </p>
</div>